nav {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E2E8F0;
}

.nav__container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 32px;
}

.nav__wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__info {
    display: flex;
    align-items: center;
    gap: 64px;
}

.nav__search {
    width: 492px;
}

.nav__search .ant-input {
    border-radius: 4px;
    border: 1px solid #E2E8F0;
}

.nav__action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__action img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.nav__action img:hover {
    opacity: 0.7;
}

.font-jakarta {
    font-family: 'Jakarta', sans-serif;
}


.font-bold {
    font-weight: bold;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
}



